// hierher sollten wir eigentlich noch alle weiteren Regeln
// die sich auf diese Komponente beziehen,
// aus der App.scss verschieben

.completed-item {
    font-style: italic;
    //color: "#d35e0f";
    color: rgb(0, 255, 51);
    //background-color: blue;
    //opacity: 0.4;
    text-decoration: line-through;
  };
 
